In [1]:
# Append() Method
import pandas as pd
i = pd.DataFrame({
"x":[15,25,32,49],
"y":[47, 24, 17, 29]
})
j = pd.DataFrame({
"x":[245, 145, 412],
"y":[47, 24, 17]
})
i.append(j, )

     x   y
0   15  47
1   25  24
2   32  17
3   49  29
0  245  47
1  145  24
2  412  17

In [2]:
#Ignore Index
import pandas as pd
i = pd.DataFrame({
"x":[15,25,32,49],
"y":[47, 24, 17, 29]
})
j = pd.DataFrame({
"x":[245, 145, 412],
"y":[47, 24, 17]
})
i.append(j, ignore_index = True)

     x   y
0   15  47
1   25  24
2   32  17
3   49  29
4  245  47
5  145  24
6  412  17

In [3]:
#Count() Method
import pandas as pd
import numpy as np
i = pd.DataFrame({
"person":["john", "doe", "smith", "andy"],
"age": [30, 39, np.nan, 33]
})
i.count()

person    4
age       3
dtype: int64

In [4]:
#Column Axis
import pandas as pd
import numpy as np
i = pd.DataFrame({
"person":["john", "doe", "smith", "andy"],
"age": [30, 39, np.nan, 33]
})
i.count()
i.count(axis='columns')

0    2
1    2
2    1
3    2
dtype: int64

In [5]:
#To_Excel() Method
import pandas as pd
i = pd.DataFrame({
'name': ['john', 'smith', 'andy', 'smith'],
'age': [18, 22, 30, 25],
'marks': [89, 92, 61, 77],
'grade': ['a', 'a', 'c', 'b']})
file1 = pd.ExcelWriter('dataofuser.xlsx')
i.to_excel(file1)
file1.save()
print('Excel File Generated.')

Excel File Generated.